* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
}

h1 {
  color: #1098ad;
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 16px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;

  line-height: 1.5;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

h1,
h2,
h3 {
  color: #1098ad;
}

.main_header {
  background-color: #f7f7f7;
  padding: 20px 5px 2px 12px;
  margin-bottom: 50px;
  height: 80px;
  margin-left: 20px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding-top: 25px;
  padding-bottom: 20px;
  width: 500px;
  box-sizing: border-box;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: blueviolet;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

a:active {
  /* click*/
  background-color: black;
}

/*
resolving conflict*/
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
}

nav {
  font-size: 18px;
}

.second-header {
  margin-bottom: 20px;
  margin-left: 20px;
}

ul,
ol {
  margin-left: 25px;
  margin-bottom: 15px;
}

.first-section {
  margin-left: 10px;
  margin-bottom: 40px;
}

.second-section {
  margin-left: 10px;
  margin-bottom: 40px;
}

.third-section {
  margin-bottom: 40px;
  margin-left: 10px;
}

.last-foot {
  margin-left: 10px;
  margin-bottom: 10px;
}

.back {
  width: 100%;
  height: auto;
}

.containerBoy{
  width:800px;
  margin: 0 auto;
}